<header
    id="tp-header"
    class="bg-amber-500 border-b-lime-50 border-b-2 h-16 relative"
>
    <nav
        class="container mx-auto h-full flex items-center justify-end md:justify-center"
    >
        <h1 class="text-lime-50 font-bebas text-2xl absolute left-4">
            Cata Moedas
        </h1>
        <ul class="flex gap-4 justify-center h-6 items-center">
            <li>
                <a
                    routerLink="/home"
                    routerLinkActive="active"
                    class="hover:text-lime-50 hover:bg-amber-700 transition-colors hover:shadow-xl py-2 px-3 rounded-md"
                    >Home</a
                >
            </li>
            <li>
                <a
                    routerLink="/about"
                    routerLinkActive="active"
                    class="hover:text-lime-50 hover:bg-amber-700 transition-colors hover:shadow-xl py-2 px-3 rounded-md"
                    >About</a
                >
            </li>
            <li>
                <a
                    routerLink="/contact"
                    routerLinkActive="active"
                    class="hover:text-lime-50 hover:bg-amber-700 transition-colors hover:shadow-xl py-2 px-3 rounded-md"
                    >Contact</a
                >
            </li>
        </ul>
    </nav>
</header>
