<app-header></app-header>
<div class="flex flex-col p-4 rounded-lg shadow-lg max-w-3xl mx-auto my-10">
    <h2 class="text-3xl text-center font-bebas mt-5 mb-2">
        Sobre o Projeto
    </h2>
    <p class="text-start mb-5">
        Este projeto de site foi desenvolvido com o objetivo de criar uma interface front-end para uma API de conversão de moedas, utilizando o framework Angular. Além de sua funcionalidade prática, o projeto também serve como parte do meu portfólio profissional. A API consumida é de autoria própria e foi construída para consultar dados do Banco Central do Brasil, que disponibiliza as cotações médias diárias de moedas estrangeiras em relação ao Real Brasileiro (BRL).
    </p>
    <div class="text-start mb-5 mt-8">
        <h3 class="text-xl font-bebas mb-2 ">Tecnologias Utilizadas</h3>
        <ul class="list-none pl-5">
            <li>Angular</li>
            <li>Tailwindcss</li>
        </ul>
    </div>
</div>

